@charset 'UTF-8';
* { padding: 0; margin: 0; box-sizing: border-box; }
body { padding: 50px 30px; background-color: #4d4669; }
ul, ol {list-style: none;}
a {text-decoration: none; color: inherit;}

/* 전체 */
.wrap { margin: 0 auto; max-width: 450px; } 
.title { font-size: 30px; line-height: 36px; text-align: center; padding: 10px; color: #fff; font-weight: 600; }
.content { margin-bottom: 30px; }
.content:last-child { margin-bottom: 0; }
.box { padding: 15px 30px; background-color: white } 
.screen { font-size: 20px; line-height: 26px; text-align: center; border-bottom: 1px solid #ccc; border-top-left-radius: 10px; border-top-right-radius: 10px; box-shadow: 8px 8px #ccc; }
.setting { padding-top: 40px; padding-bottom: 40px; background-color: beige; box-shadow: 8px 8px #ccc; }
input, button { padding: 5px; border-radius: 5px; border: none; }
input[type="text"] { border: 1px solid #ccc;  }
input[type="button"], button { background-color: darkcyan; color: white; border: none; width: 88%; }

/* 타이머 */
.timer form { display: grid; grid-template-columns: auto auto; grid-template-rows: 50px 30px; text-align: center; }
.timer label { font-size: 20px; line-height: 26px; }
.timer span { display: block; width: 100%; }

/* 스톱워치 */
.stopwatch .setting { display: flex; }
.stopwatch .setting button { margin: 0 20px; padding: 10px 5px; }

/* 알람 */